<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AgroPredict - Cotton</title>
		<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/hacksoil2.css') }}">
	</head>

	<body background = "{{ url_for("static", filename = "images/cotton.jpg")}}">
		<div class="navigation">
			<ul>
				<li><a style = "text-decoration:none; color:white;" href="{{ url_for('croppred')}}">Predict Crop </a></li>
				<li><a style = "text-decoration:none; color:white;" href="{{ url_for('transit')}}">Home </a></li>
			</ul>
		</div>			
		<div id="mySidebar" class="sidebar">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{{ url_for('apple')}}"> Apple</a>
			<a href="{{ url_for('banana')}}"> Banana</a>
			<a href="{{ url_for('black')}}"> Black Gram</a>
			<a href="{{ url_for('chickpea')}}"> Chickpea</a>
			<a href="{{ url_for('coconut')}}"> Coconut</a>
			<a href="{{ url_for('coffee')}}"> Coffee</a>
			<a href="{{ url_for('cotton')}}"> Cotton</a>
			<a href="{{ url_for('grapes')}}"> Grapes</a>
			<a href="{{ url_for('jute')}}"> Jute</a>
			<a href="{{ url_for('kidney')}}"> Kidney Beans</a>
			<a href="{{ url_for('lentil')}}"> Lentil</a>
			<a href="{{ url_for('maize')}}"> Maize</a>
			<a href="{{ url_for('mango')}}"> Mango</a>
			<a href="{{ url_for('moth')}}"> Moth Beans</a>
			<a href="{{ url_for('mung')}}"> Mung Beans</a>
			<a href="{{ url_for('musk')}}"> Muskmelon</a>
			<a href="{{ url_for('orange')}}"> Orange</a>
			<a href="{{ url_for('pawpaw')}}"> Pawpaw</a>
			<a href="{{ url_for('pigeon')}}"> Pigeon Pea</a>
			<a href="{{ url_for('pome')}}"> Pomegranate</a>
			<a href="{{ url_for('rice')}}"> Rice</a>
			<a href="{{ url_for('water')}}"> Watermelon</a>
		  </div>
		  <div id="main">
			<button class="openbtn" onclick="openNav()">☰ Check Crops</button>  
		  </div>
        
        
		<div class="part1">
		<div class = "main">
			<h1> Cotton </h1>
			<table>
				<div id = "name">
					<tr> 
						<td  style = "width: 250px"><h2 class = "name">Nitrogen value: </h2></td>
						<td class = "name"> 117.77</td>
					
					</tr>
					<tr> 
						<td><h2 class = "name">Phosphorus value: </h2></td>
						<td class = "name">46.24</td>
					</tr>
					<tr> 
						<td><h2 class = "name">Potassium value: </h2></td>
						<td class = "name">19.56</td>
					</tr>
					<tr> 
						<td><h2 class = "name">Soil Temperature: </h2></td>
						<td class = "name">23.9889578952 ℃</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Soil Humidity: </h2></td>
						<td class = "name"> 79.8434742538 mmHg</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Soil pH value: </h2></td>
						<td class = "name">6.91267549578</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Average Rainfall: </h2></td>
						<td class = "name">80.3980431193 mm</td>
					</tr>
				</div>
			</table>
		</div>
	</div>
		<div class="part2">
			<div class="main2">
								
				<strong>Botanical Information:</strong><br>
				Scientific Name: Gossypium<br>
				Family: Malvaceae<br>
				Genus: Gossypium<br><br>

				<strong>Growth and Appearance</strong><br>
				Cotton plants are shrubs, typically growing to a height of 3 to 6 feet. They have broad, lobed leaves and produce large, showy flowers that develop into cotton bolls containing cotton fibers.<br><br>
	
				<strong>Flowering and Fruiting</strong><br>
				Cotton plants produce flowers with five petals, usually in cream or yellow colors. The fruit, known as a cotton boll, develops from the fertilized flowers and contains cotton fibers surrounding seeds.<br><br>
	
				<strong>Cultivation</strong><br>
				Cotton is cultivated globally in warm climates. It requires well-drained soil, ample sunlight, and a frost-free period for optimal growth. Cotton is a major cash crop used for fiber production.<br><br>
	
				<strong>Varieties</strong><br>
				There are several species of cotton, with Gossypium hirsutum (Upland cotton) being the most widely cultivated. Other species include Gossypium barbadense (Pima cotton) and Gossypium herbaceum (Levantine cotton). Each has unique fiber characteristics.<br><br>
	
				<strong>Uses</strong><br>
				Cotton fibers are a valuable commodity used in the textile industry to produce a wide range of products, including clothing, bed linens, and industrial textiles. Cottonseed oil, extracted from cottonseeds, is also used in cooking and various industrial applications.<br><br>
	
				<strong>Economic Importance</strong><br>
				Cotton is a significant economic crop, contributing to the textile industry and various other sectors. It is a vital cash crop for many countries and plays a crucial role in global economies.
	
	
				
			</div>
		</div>
		<script>
			function openNav() {
			  document.getElementById("mySidebar").style.width = "250px";
			  document.getElementById("main").style.marginLeft = "250px";
			}
			
			function closeNav() {
			  document.getElementById("mySidebar").style.width = "0";
			  document.getElementById("main").style.marginLeft= "0";
			}
			</script>	
		</body>

</html>