<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AgroPredict - Mango</title>
		<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/hacksoil2.css') }}">
	</head>

	<body background = "{{ url_for("static", filename = "images/mango.jpg")}}">
		<div class="navigation">
			<ul>
				<li><a style = "text-decoration:none; color:white;" href="{{ url_for('croppred')}}">Predict Crop </a></li>
				<li><a style = "text-decoration:none; color:white;" href="{{ url_for('home')}}">Home </a></li>
			</ul>
		</div>			
        <div id="mySidebar" class="sidebar">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{{ url_for('apple')}}"> Apple</a>
			<a href="{{ url_for('banana')}}"> Banana</a>
			<a href="{{ url_for('black')}}"> Black Gram</a>
			<a href="{{ url_for('chickpea')}}"> Chickpea</a>
			<a href="{{ url_for('coconut')}}"> Coconut</a>
			<a href="{{ url_for('coffee')}}"> Coffee</a>
			<a href="{{ url_for('cotton')}}"> Cotton</a>
			<a href="{{ url_for('grapes')}}"> Grapes</a>
			<a href="{{ url_for('jute')}}"> Jute</a>
			<a href="{{ url_for('kidney')}}"> Kidney Beans</a>
			<a href="{{ url_for('lentil')}}"> Lentil</a>
			<a href="{{ url_for('maize')}}"> Maize</a>
			<a href="{{ url_for('mango')}}"> Mango</a>
			<a href="{{ url_for('moth')}}"> Moth Beans</a>
			<a href="{{ url_for('mung')}}"> Mung Beans</a>
			<a href="{{ url_for('musk')}}"> Muskmelon</a>
			<a href="{{ url_for('orange')}}"> Orange</a>
			<a href="{{ url_for('pawpaw')}}"> Pawpaw</a>
			<a href="{{ url_for('pigeon')}}"> Pigeon Pea</a>
			<a href="{{ url_for('pome')}}"> Pomegranate</a>
			<a href="{{ url_for('rice')}}"> Rice</a>
			<a href="{{ url_for('water')}}"> Watermelon</a>
		  </div>
		  <div id="main">
			<button class="openbtn" onclick="openNav()">☰ Check Crops</button>  
		  </div>

		<div class="part1">
			<div class = "main">
			<h1> Mango </h1>
			<table>
				<div id = "name">
					<tr> 
						<td  style = "width: 250px"><h2 class = "name">Nitrogen value: </h2></td>
						<td class = "name"> 20.07</td>
					
					</tr>
					<tr> 
						<td><h2 class = "name">Phosphorus value: </h2></td>
						<td class = "name">27.18</td>
					</tr>
					<tr> 
						<td><h2 class = "name">Potassium value: </h2></td>
						<td class = "name">29.92</td>
					</tr>
					<tr> 
						<td><h2 class = "name">Soil Temperature: </h2></td>
						<td class = "name">31.2087701513 ℃</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Soil Humidity: </h2></td>
						<td class = "name"> 50.1565726953 mmHg</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Soil pH value: </h2></td>
						<td class = "name">5.76637279966</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Average Rainfall: </h2></td>
						<td class = "name">94.7045150448 mm</td>
					</tr>
				</div>
			</table>
		</div>
	</div>
		<div class="part2">
			<div class="main2">
								
				<strong>Botanical Information:</strong><br>
				Scientific Name: Mangifera indica<br>
				Family: Anacardiaceae<br>
				Genus: Mangifera<br><br>

				<strong>Growth and Appearance</strong><br>
				The mango tree is an evergreen, reaching heights of 30 to 100 feet. It has a dense, rounded canopy of green, glossy leaves. Mango trees produce large, oval-shaped fruits with a single flat seed inside, known as a mango.<br><br>
	
				<strong>Flowering and Fruiting</strong><br>
				Mango trees produce small, fragrant flowers in panicles, usually ranging from pale pink to white. The fruit develops from the fertilized flowers, with mango varieties varying in size, shape, and color.<br><br>
	
				<strong>Cultivation</strong><br>
				Mangoes are cultivated in tropical and subtropical regions. They require well-drained soil, ample sunlight, and warm temperatures. <br><br>
	
				<strong>Varieties</strong><br>
				There are numerous varieties of mangoes, each with unique flavors, textures, and colors. Common varieties include Alphonso, Haden, Kent, and Tommy Atkins, each prized for its taste and characteristics.<br><br>
	
				<strong>Culinary Uses</strong><br>
				Mangoes are consumed fresh and are a popular ingredient in various culinary dishes. They are used in salads, smoothies, chutneys, desserts, and as a standalone fruit.<br><br>
	
				<strong>Commercial Importance</strong><br>
				Mangoes have significant economic importance in international trade and local markets. They are a valuable export commodity, contributing to the agricultural economy of many countries.
	
	
	
				
			</div>
		</div>
		<script>
			function openNav() {
			  document.getElementById("mySidebar").style.width = "250px";
			  document.getElementById("main").style.marginLeft = "250px";
			}
			
			function closeNav() {
			  document.getElementById("mySidebar").style.width = "0";
			  document.getElementById("main").style.marginLeft= "0";
			}
			</script>
			</body>

</html>