<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>AgroPredict - Orange</title>
		<link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/hacksoil2.css') }}">
	</head>

	<body background = "{{ url_for("static", filename = "images/orange.jpg")}}">
		<div class="navigation">
			<ul>
				<li><a style = "text-decoration:none; color:white;" href="{{ url_for('croppred')}}">Predict Crop </a></li>
				<li><a style = "text-decoration:none; color:white;" href="{{ url_for('transit')}}">Home </a></li>
			</ul>
		</div>			
		<div id="mySidebar" class="sidebar">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
			<a href="{{ url_for('apple')}}"> Apple</a>
			<a href="{{ url_for('banana')}}"> Banana</a>
			<a href="{{ url_for('black')}}"> Black Gram</a>
			<a href="{{ url_for('chickpea')}}"> Chickpea</a>
			<a href="{{ url_for('coconut')}}"> Coconut</a>
			<a href="{{ url_for('coffee')}}"> Coffee</a>
			<a href="{{ url_for('cotton')}}"> Cotton</a>
			<a href="{{ url_for('grapes')}}"> Grapes</a>
			<a href="{{ url_for('jute')}}"> Jute</a>
			<a href="{{ url_for('kidney')}}"> Kidney Beans</a>
			<a href="{{ url_for('lentil')}}"> Lentil</a>
			<a href="{{ url_for('maize')}}"> Maize</a>
			<a href="{{ url_for('mango')}}"> Mango</a>
			<a href="{{ url_for('moth')}}"> Moth Beans</a>
			<a href="{{ url_for('mung')}}"> Mung Beans</a>
			<a href="{{ url_for('musk')}}"> Muskmelon</a>
			<a href="{{ url_for('orange')}}"> Orange</a>
			<a href="{{ url_for('pawpaw')}}"> Pawpaw</a>
			<a href="{{ url_for('pigeon')}}"> Pigeon Pea</a>
			<a href="{{ url_for('pome')}}"> Pomegranate</a>
			<a href="{{ url_for('rice')}}"> Rice</a>
			<a href="{{ url_for('water')}}"> Watermelon</a>
		  </div>
		  <div id="main">
			<button class="openbtn" onclick="openNav()">☰ Check Crops</button>  
		  </div>
        
		<div class = "part1">
		<div class = "main">
			<h1> Orange </h1>
			<table>
				<div id = "name">
					<tr> 
						<td  style = "width: 250px"><h2 class = "name">Nitrogen value: </h2></td>
						<td class = "name"> 19.58</td>
					
					</tr>
					<tr> 
						<td><h2 class = "name">Phosphorus value: </h2></td>
						<td class = "name">16.55</td>
					</tr>
					<tr> 
						<td><h2 class = "name">Potassium value: </h2></td>
						<td class = "name">10.01</td>
					</tr>
					<tr> 
						<td><h2 class = "name">Soil Temperature: </h2></td>
						<td class = "name">22.7657254967 ℃</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Soil Humidity: </h2></td>
						<td class = "name"> 92.1702087634 mmHg</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Soil pH value: </h2></td>
						<td class = "name">7.01695745276</td>
					</tr>
					<tr> 
						<td><h2 class = "name"> Average Rainfall: </h2></td>
						<td class = "name">110.4749687199 mm</td>
					</tr>
				</div>
			</table>
		</div>
	</div>	
		<div class="part2">
			<div class="main2">
								
				<strong>Botanical Information:</strong><br>
				Scientific Name: Citrus sinensis<br>
				Family: Rutaceae<br>
				Genus: Citrus<br><br>

				<strong>Growth and Appearance</strong><br>
				The orange tree is an evergreen, reaching heights of 20 to 30 feet. It has glossy, elliptical leaves and produces round to oval fruits with a bright orange peel. The fruit's flesh is juicy, sweet, and segmented, with seeds typically present.<br><br>
	
				<strong>Flowering and Fruiting</strong><br>
				Orange trees produce fragrant white flowers with five petals. The fruit develops from the fertilized flowers, with the color changing from green to orange as it ripens. Oranges are typically harvested when fully ripe.<br><br>
	
				<strong>Cultivation</strong><br>
				Oranges thrive in subtropical to tropical climates with well-drained soil. They require ample sunlight and warm temperatures for optimal growth. Oranges are cultivated globally for their flavorful and nutritious fruits.<br><br>
	
				<strong>Varieties</strong><br>
				There are numerous orange varieties, each with unique flavors, sizes, and uses. Common types include Navel, Valencia, Blood Orange, and Clementine, each prized for its taste<br><br>
	
				<strong>Culinary Uses</strong><br>
				Oranges are consumed fresh as a standalone fruit, juiced for beverages, and used in a variety of culinary applications. They are a popular ingredient in salads, desserts, jams, and marmalades.<br><br>
	
				<strong>Health Benefits</strong><br>
				Oranges are rich in vitamin C, antioxidants, and fiber. They are associated with various health benefits, including immune system support, skin health, and heart health.<br><br>
	
				
			</div>
		</div>
		<script>
			function openNav() {
			  document.getElementById("mySidebar").style.width = "250px";
			  document.getElementById("main").style.marginLeft = "250px";
			}
			
			function closeNav() {
			  document.getElementById("mySidebar").style.width = "0";
			  document.getElementById("main").style.marginLeft= "0";
			}
			</script>
			</body>

</html>